*.py[cod]
*.egg-info
__pycache__

*.so
*.dylib
*.dll

/adis16740/include
/adis16740/rpy-include
/adis16740/_init_adis16740.py
/adis16740/pkgcfg.py
/adis16740/version.py

/docs/_build
/docs/_sidebar.rst.inc

.cache
.coverage
build
dist
