*.py[cod]
*.egg-info
__pycache__

*.so
*.dylib
*.dll

/adis16470/include
/adis16470/rpy-include
/adis16470/_init_adis16470.py
/adis16470/pkgcfg.py
/adis16470/version.py

/docs/_build
/docs/_sidebar.rst.inc

.cache
.coverage
build
dist
